/* ベースのスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
  
  .header {
    text-align: center;
    padding: 20px;
    background-color: #e4002b;
    width: 100%;
  }
  
  .header h1 {
    font-size: 3rem;
    color: #fff;
  }
  
  .header p {
    font-size: 1.2rem;
    color: #fff;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
  }
  
  /* パネルのスタイル */
  .panel {
    background-color: #1c1c1c;
    padding: 20px;
    border: 3px solid #e4002b;
    border-radius: 8px;
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;
  }
  
  .panel:hover {
    transform: translateX(5px) translateY(-5px);
  }
  
  .panel h2 {
    font-size: 2.0rem;
    color: #e4002b;
    margin-bottom: 10px;
  }
  
  .panel p {
    color: #fff;
    font-size: 1rem;
  }
  
  /* 各パネルにスタイリング */
  .about {
    border-color: #e4002b;
  }
  
  .projects {
    border-color: #f5c400;
  }
  
  .contact {
    border-color: #00aaff;
  }
  
  .sns-btn{
    display: flex;
    margin-top: 20px;
  }
  
  .sns-btn li {
    list-style-type: none; /* 点を非表示にする */
  }
  
  .sns-btn img{
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }